$site-border-color: #f1f2f1;
$site-border-width: 20px;
$mobile-site-border-width: 10px;
$thumbnails-spacing: 50px;
$navigation-width: 280px;

%separator {
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
}

%disable-link {
  color: black;
  text-decoration: none;
}