@import "variables";

.navigation {
  height: 100vh;
  box-sizing: border-box;
  width: $navigation-width;
  float: left;
  position: fixed;
  margin: 20px 0 0 20px;
  z-index: 400;

  .logo {
    width: 100%;
  }

  .links {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    hr {
      border-top: 1px solid rgba(0, 0, 0, 0.20);
      transition: width 0.4s ease;
    }

    .item {
      text-decoration: none;
      color: black;
      box-sizing: border-box;
      width: 100%;
      text-align: start;
      display: block;
      padding: 15px 30px;
      font-size: 25px;
    }
  }
}
