@import "./variables";

$links-padding: 3px;

.navigation-bar {
  position: sticky;
  top: $site-border-width;
  background-color: white;
  z-index: 360;

  padding: 50px - $links-padding 50px - $links-padding 25px;

  display: flex;
  flex-wrap: wrap;

  .link-box {
    flex: 1;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 3px;

    a.navigation-link {
      @extend %disable-link;

      div {
        line-height: 50px;
        font-size: 25px;
        background-color: #f1f2f1;
        transition: background-color 0.3s ease;

        @media (max-width: 850px) {
          font-size: 21px;
        }

        @media (max-width: 400px) {
          font-size: 18px;
        }

        &:hover {
          background-color: #d8d9d8;
        }
      }
    }
  }
}

.reftag {
  position: relative;
  top: -120px;
}

@media (max-width: 1200px) {
  .navigation-bar {
    padding: 50px - $links-padding $thumbnails-spacing-large/2 +
      $thumbnails-spacing-medium/2 - $links-padding $thumbnails-spacing-medium/2;
    .link-box {
      flex-basis: 50%;
    }
  }
  .reftag {
    top: -170px;
  }
}

@media (max-width: 900px) {
  .navigation-bar {
    padding: 50px - $links-padding $thumbnails-spacing-large/2 +
      $thumbnails-spacing-small/2 - $links-padding $thumbnails-spacing-small;
  }
  .reftag {
    top: -160px;
  }
}

@media (max-width: 700px) {
  .navigation-bar {
    padding: 10px 10px - $links-padding 5px;
    top: $mobile-site-border-width + $mobile-navbar-height;
  }
  .reftag {
    top: -200px;
  }
}
