@import "./variables";

.section-header {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 10px 0;
  margin: 0 25px;
  
  @media (max-width: 1200px) {
    margin: 0 20px;
  }
  @media (max-width: 900px) {
    margin: 0 15px;
  }
  @media (max-width: 800px) {
    margin: 0 10px;
  }
  @media (max-width: 700px) {
    margin: 0 15px;
  }
  @media (max-width: 500px) {
    margin: 0 10px;
  }

  .line {
    @extend %separator;
    flex-grow: 1;
  }
  .text {
    flex-basis: auto;
    font-size: 25px;
    padding: 0 25px;
  }

  // @media (max-width: 600px) {
  //   .line:first-child {
  //     display: none;
  //   }
  //   .text {
  //     padding-left: 10px;
  //   }
  // }

  .order-button {
    z-index: 350;
    position: absolute;
    right: 0px;
    background-color: white;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 25px;
    padding: 1px 18px 1px 20px;
    transition: transform 0.3s ease;

    @media (max-width: 1000px) {
      display: none;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -26px;
      width: 25px;
      background-color: white;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
