@import "./components/variables";

.App {
  text-align: center;
}

.content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  float: left;
  padding-left: $navigation-width;

  border-style: solid;
  border-width: $site-border-width;
  border-color: rgba(0,0,0,0.0) $site-border-color;

}
