@import "./components/variables";

.App {
  text-align: center;
}

.content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  float: left;
  padding-left: $navigation-width;
  border-right: 20px solid $site-background-color;
  border-left: 20px solid $site-background-color;
  border-top: 20px solid rgba($color: #000000, $alpha: 0.0);
  border-bottom: 20px solid rgba($color: #000000, $alpha: 0.0);
}
