@import "./components/variables";

.App {
  text-align: center;
}

.content {
  box-sizing: border-box;
  width: 100%;
  padding: $site-border-width;
  padding-left: $navigation-width;

  @media (max-width: 700px) {
    padding: $mobile-site-border-width;
    padding-left: 40px;
  }
}

.content:before,
.content:after {
  position: fixed;
  display: block;
  content: "";
  height: 100vh;
  top: 0;
  z-index: 500;

  background-color: $site-border-color;
  width: $site-border-width;

  @media (max-width: 700px) {
    width: $mobile-site-border-width;
  }
}

.content:before {
  left: 0;
}

.content:after {
  right: 0;
}
